<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.dou.domain.User">
        <id column="user_id" jdbcType="INTEGER" property="userid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <select id="findByUsername" resultMap="BaseResultMap">
        SELECT * FROM tb_userinfo WHERE name=#{name}
    </select>
</mapper>